.tabs-underlined {
  display: flex;
  justify-content: between;
}

.tabs-underlined .tab-underlined {
  color: black;
  opacity: 0.4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

@media (max-width: 768px) {
  .tabs-underlined li {
    font-size: 12px;
  }
}
