@import url("./styles/components/avatar.css");
@import url("./styles/components/search.css");
@import url("./styles/components/diamond.css");
@import url("./styles/components/header.css");
@import url("./styles/components/table.css");
@import url("./styles/components/card.css");
@import url("./styles/Schedule/Progress.css");
@import url("./styles/Schedule/NavTab.css");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app-container {
  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-left {
  width: 45% !important;
}

.content-right {
  width: 55% !important;
}

@media (max-width: 992px) {
  .content-left {
    width: 100% !important;
  }

  .content-right {
    width: 100% !important;
  }
}
